@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cream: hsl(30, 38%, 92%);
    --darkCyan: hsl(158, 36%, 37%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}


* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cream);
}

p {
    font-size: 14px;
    color: var(--darkGrayishBlue);
    font-family: "Montserrat", serif;
}

a {
    color: var(--darkCyan);
    text-decoration: none;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #card {
        width: 35vw;
        height: 50vh;
        display: flex;
        background-color: var(--white);
        border-radius: 10px;

        #img {
            width: 50%;
            background: url(images/image-product-desktop.jpg) no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 10px 0px 0px 10px;
        }

        #content_card {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            padding: 20px;

            #header_card {
                width: 100%;

                p {
                    margin-bottom: 1rem;
                    font-size: 10px;
                    font-weight: 500;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                }

                h1 {
                    width: 12vw;
                    margin-bottom: 0.5rem;
                    font-size: 1.7rem;
                    font-family: "Fraunces", serif;
                    line-height: 1;
                }
            }

            #desc {
                width: 13vw;
                margin-bottom: 0.5rem;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.7;
            }

            #value {
                width: 100%;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                #current {
                    font-size: 1.7rem;
                    font-weight: 700;
                    color: var(--darkCyan);
                    font-family: "Fraunces", serif;
                }
            }

            button {
                display: flex;
                gap: 1rem;
                padding: 1rem 3rem;
                border-radius: 8px;
                border: none;
                background-color: var(--darkCyan);

                p {
                    font-weight: 600;
                    color: var(--white);
                }
            }
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 440px) {
    #card {
        width: 90vw !important;
        height: 90vh !important;
        flex-direction: column;

        #img {
            width: 100% !important;
            height: 70% !important; /* Ajuste da altura */
            background: url('images/image-product-mobile.jpg') no-repeat top !important;
            background-size: cover !important;
            border-radius: 10px 10px 0px 0px !important;
        }

        #content_card {
            width: 100% !important;
            height: 100%;

            #header_card {
                h1 {
                    width: 65vw !important;
                }
            }

            #desc {
                width: auto !important;
            }
            
            button {
                width: 100%;
                justify-content: center;
            }
        }
    }

    .attribution {
        text-align: center;
    }
}
